In [1]:
# 1.Write a function that returns the maximum of two numbers.

def maxi(a,b):
    if a>b:
        return a
    else:
        return b
maxi(3,2)

3

In [2]:
# Write a function for checking the speed of drivers. This function should have one parameter: speed.

# If speed is less than 70, it should print “Ok”.
# Otherwise, for every 5km above the speed limit (70), it should give the driver one demerit point and print the total number of demerit points. For example, if the speed is 80, it should print: “Points: 2”.
# If the driver gets more than 12 points, the function should print: “License suspended”

def speed_test(speed):
    if speed<70:
        print('OK !')
    if speed>75:
        x=speed-70
        point=x/5
        if point>12:
            print('License suspended !')
        else:
            print('Point : ',int(point))
        
    
speed_test(80)
speed_test(76)
speed_test(156)

Point :  2
Point :  1
License suspended !

In [3]:
# 3.Define a function that can receive two integral numbers in string form and compute their arithmeatic operation and then print it in console.

def maths(strint1,strint2):
    add = int(strint1)+int(strint2)
    sub = int(strint1)-int(strint2)
    mult = int(strint1)*int(strint2)
    div = int(strint1)/int(strint2)
    return add,sub,mult,div

print(maths(str(4),str(6)))

(10, -2, 24, 0.6666666666666666)

In [4]:
# 4.Define a function that can accept two strings as input and concatenate them and then print it in console

def con(a,b):
    print(a+b)
    
str1,str2=input('Enter string'),input('Enter string')
con(str1,str2)

Enter stringamit
Enter stringdsfsdf
amitdsfsdf

In [6]:
#5. Write a program to compute the frequency of the words from the input. The output should output after sorting the key alphanumerically.

def word_count(str2):
    list1=str1.split()
    dict1={}
    for item in list1:
        dict1[item]=len(item)
    print(dict1)
str1='i am chiti the robot!'
word_count(str1)

{'i': 1, 'am': 2, 'chiti': 5, 'the': 3, 'robot!': 6}

In [7]:
# 6.Write a program that accepts a sentence and calculate the number of upper case letters and lower case letters.

def count_letter(str2):
    list1=str1.split()
    up=0
    low=0
    for item in list1:
        if item.capitalize() == item:
            up=up+1
        else:
            low=low+1
    print('Uppercae => ',up,' and lowercase => ',low)
str1='I am Chiti the robot!'
count_letter(str1)

Uppercae =>  2  and lowercase =>  3

In [8]:
# 7.Write a program that accepts a sentence and calculate the number of letters and digits.

def cal(sten2):
    sub=[]#empty_list
    low=sten2.lower()#convert all text into lowercase
    
    #add all letter into sub
    for all_char in low:
        sub.append(all_char)
        
    # count letter
    letter_count=0
    letter=['a','b','c','d','e','f','g','h','i','j','k','l','m','n','o','p','q','r','s','t','u','v','w','x','y','z']   
    for item in sub:
        if item in letter:
                letter_count=letter_count+1
    print('Number of letter : ',letter_count)
    
    # count number
    numb_count=0
    numb=['0','1','2','3','4','5','6','7','8','9']      
    for item in sub:
        if item in numb:
                numb_count=numb_count+1
    print('Number of number : ',numb_count)
    
sent1='123 hili hilo M/C testing ... I am Chiti the robot!'
cal(sent1)

Number of letter :  33
Number of number :  3

In [9]:
# 8.Write a program which will find all such numbers which are divisible by 7 but are not a multiple of 4, between 1000 and 5000 (both included).
#multiple of 4 are like 4,8,16,20,24,28...

sub=[]
for numb in range(1000,5001):
    if numb%7==0 and numb%4!=0:
        sub.append(numb)
print('Numbersbetween (1000-5000) which are divisible by 7 but are not a multiple of 4 are ',sub)

Numbersbetween (1000-5000) which are divisible by 7 but are not a multiple of 4 are  [1001, 1015, 1022, 1029, 1043, 1050, 1057, 1071, 1078, 1085, 1099, 1106, 1113, 1127, 1134, 1141, 1155, 1162, 1169, 1183, 1190, 1197, 1211, 1218, 1225, 1239, 1246, 1253, 1267, 1274, 1281, 1295, 1302, 1309, 1323, 1330, 1337, 1351, 1358, 1365, 1379, 1386, 1393, 1407, 1414, 1421, 1435, 1442, 1449, 1463, 1470, 1477, 1491, 1498, 1505, 1519, 1526, 1533, 1547, 1554, 1561, 1575, 1582, 1589, 1603, 1610, 1617, 1631, 1638, 1645, 1659, 1666, 1673, 1687, 1694, 1701, 1715, 1722, 1729, 1743, 1750, 1757, 1771, 1778, 1785, 1799, 1806, 1813, 1827, 1834, 1841, 1855, 1862, 1869, 1883, 1890, 1897, 1911, 1918, 1925, 1939, 1946, 1953, 1967, 1974, 1981, 1995, 2002, 2009, 2023, 2030, 2037, 2051, 2058, 2065, 2079, 2086, 2093, 2107, 2114, 2121, 2135, 2142, 2149, 2163, 2170, 2177, 2191, 2198, 2205, 2219, 2226, 2233, 2247, 2254, 2261, 2275, 2282, 2289, 2303, 2310, 2317, 2331, 2338, 2345, 2359, 2366, 2373, 2387, 2394, 2401, 2415, 2422, 2429, 2443, 2450, 2457, 2471, 2478, 2485, 2499, 2506, 2513, 2527, 2534, 2541, 2555, 2562, 2569, 2583, 2590, 2597, 2611, 2618, 2625, 2639, 2646, 2653, 2667, 2674, 2681, 2695, 2702, 2709, 2723, 2730, 2737, 2751, 2758, 2765, 2779, 2786, 2793, 2807, 2814, 2821, 2835, 2842, 2849, 2863, 2870, 2877, 2891, 2898, 2905, 2919, 2926, 2933, 2947, 2954, 2961, 2975, 2982, 2989, 3003, 3010, 3017, 3031, 3038, 3045, 3059, 3066, 3073, 3087, 3094, 3101, 3115, 3122, 3129, 3143, 3150, 3157, 3171, 3178, 3185, 3199, 3206, 3213, 3227, 3234, 3241, 3255, 3262, 3269, 3283, 3290, 3297, 3311, 3318, 3325, 3339, 3346, 3353, 3367, 3374, 3381, 3395, 3402, 3409, 3423, 3430, 3437, 3451, 3458, 3465, 3479, 3486, 3493, 3507, 3514, 3521, 3535, 3542, 3549, 3563, 3570, 3577, 3591, 3598, 3605, 3619, 3626, 3633, 3647, 3654, 3661, 3675, 3682, 3689, 3703, 3710, 3717, 3731, 3738, 3745, 3759, 3766, 3773, 3787, 3794, 3801, 3815, 3822, 3829, 3843, 3850, 3857, 3871, 3878, 3885, 3899, 3906, 3913, 3927, 3934, 3941, 3955, 3962, 3969, 3983, 3990, 3997, 4011, 4018, 4025, 4039, 4046, 4053, 4067, 4074, 4081, 4095, 4102, 4109, 4123, 4130, 4137, 4151, 4158, 4165, 4179, 4186, 4193, 4207, 4214, 4221, 4235, 4242, 4249, 4263, 4270, 4277, 4291, 4298, 4305, 4319, 4326, 4333, 4347, 4354, 4361, 4375, 4382, 4389, 4403, 4410, 4417, 4431, 4438, 4445, 4459, 4466, 4473, 4487, 4494, 4501, 4515, 4522, 4529, 4543, 4550, 4557, 4571, 4578, 4585, 4599, 4606, 4613, 4627, 4634, 4641, 4655, 4662, 4669, 4683, 4690, 4697, 4711, 4718, 4725, 4739, 4746, 4753, 4767, 4774, 4781, 4795, 4802, 4809, 4823, 4830, 4837, 4851, 4858, 4865, 4879, 4886, 4893, 4907, 4914, 4921, 4935, 4942, 4949, 4963, 4970, 4977, 4991, 4998]

In [10]:
# 9.Write a program which can compute the factorial of a given numbers using recursion.

# without using recursion
def fact(numb1):
    if numb1==1 or numb1==0:
        print('Factorial : 1')
    
    else:
        num=numb1
        for i in range(numb1):
            if numb1==1:
                break
            num=num*(numb1-1)
            numb1=numb1-1
        print('Factorial : ',num)
        
a=input('Enter number : ')
fact(int(a))

Enter number : 4
Factorial :  24

In [11]:
# using recursion

def fact(numb1):
    if numb1 ==1 or numb1 ==0:
        return 1
    else:
        return numb1*fact(numb1-1)
    
a=input('Enter number : ')
fact(int(a))

Enter number : 5

120

In [1]:
# 10.Write a program which accepts a sequence of comma-separated numbers from console and generate a list and a tuple which contains every number.


# sequence2 = input('Enter a sequence of comma-separated numbers : ')
# list_data = sequence2.split(',')

# print('\n')

# print(sequence2)
# print(type(sequence2))

# print('\n')

# tuple_data=tuple(list_data)
# print(tuple_data)
# print(type(tuple_data))

# print('\n')

# print(tuple_data[2])
# print(type(tuple_data[2]))

# print('\n')

# print(list_data)
# print(type(list_data))

# print('\n')

# print(list_data[2])
# print(type(list_data[2]))

# by this code numbers are in str form so we have to convert it into int



sequence2 = input('Enter a sequence of comma-separated numbers : ')
list_data = sequence2.split(',')

list1_data=[]
for all_numb in list_data:
    list1_data.append(int(all_numb))
print(list1_data)

print('\n')

print(sequence2)
print(type(sequence2))

print('\n')

tuple_data=tuple(list1_data)
print(list1_data)
print(type(tuple_data))

print('\n')

print(tuple_data[2])
print(type(tuple_data[2]))

print('\n')

print(list1_data)
print(type(list1_data))

print('\n')

print(list1_data[2])
print(type(list1_data[2]))

Enter a sequence of comma-separated numbers : 1
[1]


1
<class 'str'>


[1]
<class 'tuple'>

IndexError: tuple index out of range

In [14]:
def myfunc(a):
    return len(a)

x = map(myfunc, ('apple', 'banana', 'cherry'))

print(type(x))

#convert the map into a list, for readability:
print(list(x))

<class 'map'>
[5, 6, 6]

In [2]:
def myfunc(a, b):
    print(a)
    print(b)
    return a + b

x = map(myfunc, ('apple', 'banana', 'cherry'), ('orange', 'lemon', 'pineapple'))

print(x)

#convert the map into a list, for readability:
print(list(x))

<map object at 0x04F48520>
apple
orange
banana
lemon
cherry
pineapple
['appleorange', 'bananalemon', 'cherrypineapple']

In [3]:
# 10.Write a program which accepts a sequence of comma-separated numbers from console and generate a list and a tuple which contains every number.


sequence2 = input('Enter a sequence of comma-separated numbers : ')
list_data = sequence2.split(',')

print('\n')

print(sequence2)
print(type(sequence2))

print('\n')

tuple_data=tuple(list_data)
print(tuple_data)
print(type(tuple_data))

print('\n')

print(tuple_data[2])
print(type(tuple_data[2]))

print('\n')

print(list_data)
print(type(list_data))

print('\n')

print(list_data[2])
print(type(list_data[2]))

# by this code numbers are in str form so we have to convert it into int

Enter a sequence of comma-separated numbers : 4


4
<class 'str'>


('4',)
<class 'tuple'>

IndexError: tuple index out of range

In [5]:
# 10.Write a program which accepts a sequence of comma-separated numbers from console and generate a list and a tuple which contains every number.


#soln_1
sequence2 = input('Enter a sequence of comma-separated numbers : ')
list_data = sequence2.split(',')

list1_data=[]
for all_numb in list_data:
    list1_data.append(int(all_numb))
print(list1_data)

print('\n')

print(sequence2)
print(type(sequence2))

print('\n')

tuple_data=tuple(list1_data)
print('Tuple : ',tuple_data)
print(type(tuple_data))

print('\n')

print('Tuple Item : ',tuple_data[2])
print(type(tuple_data[2]))

print('\n')

print('List : ',list1_data)
print(type(list1_data))

print('\n')

print('List Item : ',list1_data[2])
print(type(list1_data[2]))

Enter a sequence of comma-separated numbers : 6
[6]


6
<class 'str'>


Tuple :  (6,)
<class 'tuple'>

IndexError: tuple index out of range

In [6]:

#soln_1
sequence2 = input('Enter a sequence of comma-separated numbers : ')

tuple_data = tuple(sequence2.split(','))

list1_data = list(sequence2.split(','))

print('Tuple : ',tuple_data)
print(type(tuple_data))

print('\n')

print('Tuple Item : ',tuple_data[2])
print(type(tuple_data[2]))

print('\n')

print('List : ',list1_data)
print(type(list1_data))

print('\n')

print('List Item : ',list1_data[2])
print(type(list1_data[2]))

Enter a sequence of comma-separated numbers : 6
Tuple :  ('6',)
<class 'tuple'>

IndexError: tuple index out of range

In [7]:

#soln_2 to convert str element into int
sequence2 = input('Enter a sequence of comma-separated numbers : ')

tuple_data = tuple(map(int,sequence2.split(',')))

list1_data = list(map(int,sequence2.split(',')))

print('Tuple : ',tuple_data)
print(type(tuple_data))

print('\n')

print('Tuple Item : ',tuple_data[2])
print(type(tuple_data[2]))

print('\n')

print('List : ',list1_data)
print(type(list1_data))

print('\n')

print('List Item : ',list1_data[2])
print(type(list1_data[2]))

Enter a sequence of comma-separated numbers : 43
Tuple :  (43,)
<class 'tuple'>

IndexError: tuple index out of range

In [16]:
# 11.Please write a program using list comprehension to print the Fibonacci Sequence in comma separated form with a given n input by console.

def fib(numb2):
    var1=0
    var2=1
    lis=[0,1] # initilize list
    while(len(lis)<numb2): # check if given number is upto length of list / range of list 
        print('Length of List is ',len(lis))
        var1=var1+var2
        print(var1)
        lis.append(var1)
        var2=var1+var2
        print(var2)
        if len(lis)<numb2:#preventing to add last item
            lis.append(var2)
        print(lis)
        print('Length of List is ',len(lis))
    return lis

numb1 = input('Enter a number : ')
fib(int(numb1))

print('Finally the Fibonacci Sequence of first ',numb1,' th tern is ',fib(int(numb1)))

Enter a number : 23
Length of List is  2
1
2
[0, 1, 1, 2]
Length of List is  4
Length of List is  4
3
5
[0, 1, 1, 2, 3, 5]
Length of List is  6
Length of List is  6
8
13
[0, 1, 1, 2, 3, 5, 8, 13]
Length of List is  8
Length of List is  8
21
34
[0, 1, 1, 2, 3, 5, 8, 13, 21, 34]
Length of List is  10
Length of List is  10
55
89
[0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89]
Length of List is  12
Length of List is  12
144
233
[0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, 233]
Length of List is  14
Length of List is  14
377
610
[0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, 233, 377, 610]
Length of List is  16
Length of List is  16
987
1597
[0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, 233, 377, 610, 987, 1597]
Length of List is  18
Length of List is  18
2584
4181
[0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, 233, 377, 610, 987, 1597, 2584, 4181]
Length of List is  20
Length of List is  20
6765
10946
[0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, 233, 377, 610, 987, 1597, 2584, 4181, 6765, 10946]
Length of List is  22
Length of List is  22
17711
28657
[0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, 233, 377, 610, 987, 1597, 2584, 4181, 6765, 10946, 17711]
Length of List is  23
Length of List is  2
1
2
[0, 1, 1, 2]
Length of List is  4
Length of List is  4
3
5
[0, 1, 1, 2, 3, 5]
Length of List is  6
Length of List is  6
8
13
[0, 1, 1, 2, 3, 5, 8, 13]
Length of List is  8
Length of List is  8
21
34
[0, 1, 1, 2, 3, 5, 8, 13, 21, 34]
Length of List is  10
Length of List is  10
55
89
[0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89]
Length of List is  12
Length of List is  12
144
233
[0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, 233]
Length of List is  14
Length of List is  14
377
610
[0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, 233, 377, 610]
Length of List is  16
Length of List is  16
987
1597
[0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, 233, 377, 610, 987, 1597]
Length of List is  18
Length of List is  18
2584
4181
[0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, 233, 377, 610, 987, 1597, 2584, 4181]
Length of List is  20
Length of List is  20
6765
10946
[0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, 233, 377, 610, 987, 1597, 2584, 4181, 6765, 10946]
Length of List is  22
Length of List is  22
17711
28657
[0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, 233, 377, 610, 987, 1597, 2584, 4181, 6765, 10946, 17711]
Length of List is  23
Finally the Fibonacci Sequence of first  23  th tern is  [0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, 233, 377, 610, 987, 1597, 2584, 4181, 6765, 10946, 17711]

In [17]:
def fib(numb2):
    var1=0
    var2=1
    count = 0
    while(count<numb2):
        print(var1)
        nextvar=var1+var2
        var1=var2
        var2=nextvar
        count = count+1
        print('count',count)
numb1 = input('Enter a number : ')
print('Finally the Fibonacci Sequence of first ',numb1,' th tern is ')
fib(int(numb1))

Enter a number : 1 2 3
Finally the Fibonacci Sequence of first  1 2 3  th tern is

ValueError: invalid literal for int() with base 10: '1 2 3'

In [18]:
# 12.Please write a program to shuffle and print the list [3,6,7,8]. Hints: Use shuffle() function to shuffle a list.

import random
list1 = [3,6,7,8]

random.shuffle(list1)
print(list1)

[7, 6, 3, 8]

In [19]:
# 13.Please write a program to generate all sentences where subject is in ["I", "You"] and verb is in ["Play", "Love"] and the object is in ["Hockey","Football"].

subject = ["I", "You"]
verb    = ["Play", "Love"]
objects = ["Hockey","Football"]

for sub in subject:
    for vrb in verb:
        for obj in objects:
            print(sub,' ',vrb,' ',obj)

I   Play   Hockey
I   Play   Football
I   Love   Hockey
I   Love   Football
You   Play   Hockey
You   Play   Football
You   Love   Hockey
You   Love   Football

In [20]:
# 14.Please write a program which count and print the numbers of each character in a string input by console.

string1 = input('Enter a string : ')
dict1 = {}
for s in string1.lower():
    if s not in dict1:
        dict1[s] = 1
    else:
        dict1[s]=dict1[s]+1

for d in dict1:
    print(d,' = ',dict1[d])

Enter a string : amir df
a  =  1
m  =  1
i  =  1
r  =  1
   =  1
d  =  1
f  =  1

In [21]:
# 15.Please write a program which accepts a string from console and print it in reverse order.

string1 = input('Enter a string : ')
rev = sorted(string1,reverse=True)# reverse string into list form
print(''.join(rev)) # join all char of rev

Enter a string : amif
mifa

In [23]:
# 17. Write a function called show_stars(rows). User will input the number of rows required, for example if rows = 5, then print following

def show_stars(r):
    sign='*'
    for i in range((r)):
        print(sign)
        sign =sign+'*'

rows = input('Enter rows : ')
range1 = int(rows)
show_stars(range1)

Enter rows : 5
*
**
***
****
*****

In [24]:
# 17.Write a function called show_stars(rows). User will input the number of rows required, for example if rows = 5, then print following
i=1
sign = '*'
while i<=5:
    print(sign)
    sign=sign+'*'
    i=i+1
    
    
sign = '*'
for i in range(5):
    print(sign)
    sign=sign+'*'

*
**
***
****
*****
*
**
***
****
*****