In [31]:
database = [{'name':'Amir','age':21},{'name':'Ram','age':37},{'name':'Kalu','age':5}]

print(database)
print('\n')

for dictionary in database:
    print(dictionary)
print('\n')

for dictionary in database:
    print(dictionary.items()) # is one item 'name':'Amir'
print('\n')

for dictionary in database:
    print(dictionary.keys())
print('\n')

for dictionary in database:
    print(dictionary.values())
print('\n')

for dictionary in database:
    for keys,values in dictionary.items():
        print(keys,values)
print('\n')

for dictionary in database:
    for key,values in dictionary.items():
        if key=='name' and values == 'Kalu':
            print(dictionary)
print('\n')

[{'name': 'Amir', 'age': 21}, {'name': 'Ram', 'age': 37}, {'name': 'Kalu', 'age': 5}]


{'name': 'Amir', 'age': 21}
{'name': 'Ram', 'age': 37}
{'name': 'Kalu', 'age': 5}


dict_items([('name', 'Amir'), ('age', 21)])
dict_items([('name', 'Ram'), ('age', 37)])
dict_items([('name', 'Kalu'), ('age', 5)])


dict_keys(['name', 'age'])
dict_keys(['name', 'age'])
dict_keys(['name', 'age'])


dict_values(['Amir', 21])
dict_values(['Ram', 37])
dict_values(['Kalu', 5])


name Amir
age 21
name Ram
age 37
name Kalu
age 5


{'name': 'Kalu', 'age': 5}

In [42]:
database1 = [{'name':'Amir','age':21},{'name':'Ram','age':37},{'name':'Kalu','age':5},{'name':'Jaja','age':19}]
global a,b
a=0
b=100
for dictionary in database1:
    a+=1
    print(a)
    for key,value in dictionary.items():
        b+=1
        print(b)
        print(key,value)

1
101
name Amir
102
age 21
2
103
name Ram
104
age 37
3
105
name Kalu
106
age 5
4
107
name Jaja
108
age 19

In [44]:
database2 = [{'name':'Amir','age':21},{'name':'Ram','age':37},{'name':'Kalu','age':5},{'name':'Jaja','age':19}]
global a,b
a=0
b=100
for dictionary in database1:
    a+=1
    print(a)
    for key,value in dictionary.items():
        b+=1
        print(b)
        if value==37:
            print(key,value)

1
101
102
2
103
104
age 37
3
105
106
4
107
108

In [48]:
database2 = [{'name':'Amir','age':21},{'name':'Ram','age':37},{'name':'Kalu','age':5},{'name':'Jaja','age':19}]
global a,b
a=0
b=0
for dictionary in database1:
    a+=1
    print('First Loop : ',a)
    for key,value in dictionary.items():
        b+=1
        print('Second Loop : ',b)
        if value==37:
            print('Answer ============= > : ',key,value)

First Loop :  1
Second Loop :  1
Second Loop :  2
First Loop :  2
Second Loop :  3
Second Loop :  4
Answer ============= > :  age 37
First Loop :  3
Second Loop :  5
Second Loop :  6
First Loop :  4
Second Loop :  7
Second Loop :  8

In [5]:
database2 = [{'name':'Amir','age':21},{'name':'Ram','age':37},{'name':'Kalu','age':5},{'name':'Jaja','age':19}]
global a,b
a=0
b=0
for dictionary in database2:
    a+=1
    print('First Dictionary Loop : ',a)
    for key,value in dictionary.items():
        b+=1
        print('Second Item Loop : ',b)
        if value==37:
            print('Answer ============= > : ',key,value)
            break

First Dictionary Loop :  1
Second Item Loop :  1
Second Item Loop :  2
First Dictionary Loop :  2
Second Item Loop :  3
Second Item Loop :  4
Answer ============= > :  age 37
First Dictionary Loop :  3
Second Item Loop :  5
Second Item Loop :  6
First Dictionary Loop :  4
Second Item Loop :  7
Second Item Loop :  8

In [10]:
database2 = [{'name':'Amir','age':21,'x':1},{'name':'Ram','age':37,'xx':11},{'name':'Kalu','age':5,'xxx':111},{'name':'Jaja','age':19,'xxxx':1111}]
global a,b
a=0
b=0
for dictionary in database2:
    a+=1
    print('First Dictionary Loop : ',a)
    for key,value in dictionary.items():
        b+=1
        print('     ',b,' th Second Item Loop : ')
        print('            ',key,value)
        if value==37:
            print('Answer ============= > : ',key,value)
            break

First Dictionary Loop :  1
      1  th Second Item Loop :
             name Amir
      2  th Second Item Loop :
             age 21
      3  th Second Item Loop :
             x 1
First Dictionary Loop :  2
      4  th Second Item Loop :
             name Ram
      5  th Second Item Loop :
             age 37
Answer ============= > :  age 37
First Dictionary Loop :  3
      6  th Second Item Loop :
             name Kalu
      7  th Second Item Loop :
             age 5
      8  th Second Item Loop :
             xxx 111
First Dictionary Loop :  4
      9  th Second Item Loop :
             name Jaja
      10  th Second Item Loop :
             age 19
      11  th Second Item Loop :
             xxxx 1111

In [12]:
database2 = [{'name':'Amir','age':21,'x':1},{'name':'Ram','age':37,'xx':11},{'name':'Kalu','age':5,'xxx':111},{'name':'Jaja','age':19,'xxxx':1111}]
global a,b
a=0
b=0
for dictionary in database2:
    result = False
    a+=1
    print('First Dictionary Loop : ',a)
    for key,value in dictionary.items():
        b+=1
        print('     ',b,' th Second Item Loop : ')
        print('            ',key,value)
        if value==37:
            print('Answer ============= > : ',key,value)
            result = True
            break
    if result:
        break

First Dictionary Loop :  1
      1  th Second Item Loop :
             name Amir
      2  th Second Item Loop :
             age 21
      3  th Second Item Loop :
             x 1
First Dictionary Loop :  2
      4  th Second Item Loop :
             name Ram
      5  th Second Item Loop :
             age 37
Answer ============= > :  age 37